In [159]:
import pandas as pd
import numpy as np
# show max columns and rows
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [160]:
df_raw = pd.read_csv('Data\SEER_Final_Data_vf.csv')

C:\Users\yuyum\AppData\Local\Temp\ipykernel_33604\3459335164.py:1: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  df_raw = pd.read_csv('Data\SEER_Final_Data_vf.csv')

In [161]:
df = df_raw.copy()

In [162]:
display(df.head(2), df.shape)

,Patient ID,Histologic Type ICD-O-3,Year of diagnosis,Sex,"Race recode (W, B, AI, API)","Derived AJCC T, 7th ed (2010-2015)","Derived AJCC N, 7th ed (2010-2015)","Derived AJCC M, 7th ed (2010-2015)",Derived SEER Combined T (2016-2017),Derived SEER Combined N (2016-2017),Derived SEER Combined M (2016-2017),Derived EOD 2018 T (2018+),Derived EOD 2018 N (2018+),Derived EOD 2018 M (2018+),"Chemotherapy recode (yes, no/unk)",Radiation recode,SEER Combined Mets at DX-bone (2010+),SEER Combined Mets at DX-brain (2010+),SEER Combined Mets at DX-liver (2010+),SEER Combined Mets at DX-lung (2010+),CS tumor size (2004-2015),Survival months
0,801,8140,2010,Female,Black,T1b,N0,M0,Blank(s),Blank(s),Blank(s),Blank(s),Blank(s),Blank(s),No/Unknown,None/Unknown,No,No,No,No,30,0029
1,3458,8010,2010,Male,White,T3,N3,M1b,Blank(s),Blank(s),Blank(s),Blank(s),Blank(s),Blank(s),No/Unknown,None/Unknown,Yes,No,No,No,80,0001

(298449, 22)

In [163]:
df.dtypes

Patient ID                                 int64
Histologic Type ICD-O-3                    int64
Year of diagnosis                          int64
Sex                                       object
Race recode (W, B, AI, API)               object
Derived AJCC T, 7th ed (2010-2015)        object
Derived AJCC N, 7th ed (2010-2015)        object
Derived AJCC M, 7th ed (2010-2015)        object
Derived SEER Combined T (2016-2017)       object
Derived SEER Combined N (2016-2017)       object
Derived SEER Combined M (2016-2017)       object
Derived EOD 2018 T (2018+)                object
Derived EOD 2018 N (2018+)                object
Derived EOD 2018 M (2018+)                object
Chemotherapy recode (yes, no/unk)         object
Radiation recode                          object
SEER Combined Mets at DX-bone (2010+)     object
SEER Combined Mets at DX-brain (2010+)    object
SEER Combined Mets at DX-liver (2010+)    object
SEER Combined Mets at DX-lung (2010+)     object
CS tumor size (2004-2015)                 object
Survival months                           object
dtype: object

In [164]:
sclc_codes = [8002, 8041, 8042, 8043, 8044, 8045]

# only keep Histologic Type ICD-O-3  that bwtween 8002 and 8045
df_filtered = df[df['Histologic Type ICD-O-3'].isin(sclc_codes)].copy()

In [165]:
df_filtered['Histologic Type ICD-O-3'].value_counts(dropna=False)

Histologic Type ICD-O-3
8041    39646
8045      703
8042      389
8044       77
8043       22
8002        7
Name: count, dtype: int64

In [166]:
display(df_filtered.head(2), df_filtered.shape)

,Patient ID,Histologic Type ICD-O-3,Year of diagnosis,Sex,"Race recode (W, B, AI, API)","Derived AJCC T, 7th ed (2010-2015)","Derived AJCC N, 7th ed (2010-2015)","Derived AJCC M, 7th ed (2010-2015)",Derived SEER Combined T (2016-2017),Derived SEER Combined N (2016-2017),Derived SEER Combined M (2016-2017),Derived EOD 2018 T (2018+),Derived EOD 2018 N (2018+),Derived EOD 2018 M (2018+),"Chemotherapy recode (yes, no/unk)",Radiation recode,SEER Combined Mets at DX-bone (2010+),SEER Combined Mets at DX-brain (2010+),SEER Combined Mets at DX-liver (2010+),SEER Combined Mets at DX-lung (2010+),CS tumor size (2004-2015),Survival months
2,4954,8041,2010,Male,White,TX,N2,M0,Blank(s),Blank(s),Blank(s),Blank(s),Blank(s),Blank(s),No/Unknown,None/Unknown,No,No,No,No,999,0001
15,617501,8041,2010,Male,White,TX,N1,M0,Blank(s),Blank(s),Blank(s),Blank(s),Blank(s),Blank(s),Yes,None/Unknown,No,No,No,No,999,0003

(40844, 22)

In [167]:
df_filtered_test = df_filtered.copy()

In [168]:
# Logic to combine the columns
df_filtered_test['T'] = df_filtered_test['Derived AJCC T, 7th ed (2010-2015)']
df_filtered_test.loc[df_filtered_test['Year of diagnosis'].between(2016, 2017), 'T'] = df_filtered_test['Derived SEER Combined T (2016-2017)']
df_filtered_test.loc[df_filtered_test['Year of diagnosis'] >= 2018, 'T'] = df_filtered_test['Derived EOD 2018 T (2018+)']

df_filtered_test['N'] = df_filtered_test['Derived AJCC N, 7th ed (2010-2015)']
df_filtered_test.loc[df_filtered_test['Year of diagnosis'].between(2016, 2017), 'N'] = df_filtered_test['Derived SEER Combined N (2016-2017)']
df_filtered_test.loc[df_filtered_test['Year of diagnosis'] >= 2018, 'N'] = df_filtered_test['Derived EOD 2018 N (2018+)']

df_filtered_test['M'] = df_filtered_test['Derived AJCC M, 7th ed (2010-2015)']
df_filtered_test.loc[df_filtered_test['Year of diagnosis'].between(2016, 2017), 'M'] = df_filtered_test['Derived SEER Combined M (2016-2017)']
df_filtered_test.loc[df_filtered_test['Year of diagnosis'] >= 2018, 'M'] = df_filtered_test['Derived EOD 2018 M (2018+)']

# Dropping old columns
columns_to_drop = [
    'Derived AJCC T, 7th ed (2010-2015)',
    'Derived AJCC N, 7th ed (2010-2015)',
    'Derived AJCC M, 7th ed (2010-2015)',
    'Derived SEER Combined T (2016-2017)',
    'Derived SEER Combined N (2016-2017)',
    'Derived SEER Combined M (2016-2017)',
    'Derived EOD 2018 T (2018+)',
    'Derived EOD 2018 N (2018+)',
    'Derived EOD 2018 M (2018+)'
]

df_filtered_test.drop(columns=columns_to_drop, inplace=True)

In [169]:
display(df_filtered_test.head(2), df_filtered_test.shape)

,Patient ID,Histologic Type ICD-O-3,Year of diagnosis,Sex,"Race recode (W, B, AI, API)","Chemotherapy recode (yes, no/unk)",Radiation recode,SEER Combined Mets at DX-bone (2010+),SEER Combined Mets at DX-brain (2010+),SEER Combined Mets at DX-liver (2010+),SEER Combined Mets at DX-lung (2010+),CS tumor size (2004-2015),Survival months,T,N,M
2,4954,8041,2010,Male,White,No/Unknown,None/Unknown,No,No,No,No,999,0001,TX,N2,M0
15,617501,8041,2010,Male,White,Yes,None/Unknown,No,No,No,No,999,0003,TX,N1,M0

(40844, 16)

In [170]:
def replace_first_char(row, column_name):
    # Check if the value is a string and starts with 'p' or 'c'
    if isinstance(row, str) and row[0] in ['p', 'c']:
        return column_name + row[1:]
    else:
        return row

# Applying the function to each column
df_filtered_test['T'] = df_filtered_test['T'].apply(lambda x: replace_first_char(x, 'T'))
df_filtered_test['N'] = df_filtered_test['N'].apply(lambda x: replace_first_char(x, 'N'))
df_filtered_test['M'] = df_filtered_test['M'].apply(lambda x: replace_first_char(x, 'M'))

In [171]:
df_filtered_test['T'].value_counts(dropna=False).sort_index()

T
88                   10
Blank(s)            182
Not applicable       32
T0                  471
T1                   90
T1A                 539
T1B                 486
T1NOS                19
T1a                1538
T1b                1681
T1c                 421
T1mi                 93
T2                  367
T2A                 840
T2B                 510
T2NOS              1034
T2a                3865
T2b                1757
T3                 7324
T4                12352
TX                 7231
Tis                   2
Name: count, dtype: int64

In [172]:
df_filtered_test['N'].value_counts(dropna=False).sort_index()

N
88                   10
Blank(s)            182
N0                 5641
N1                 2970
N2                20312
N3                 8667
NX                 3030
Not applicable       32
Name: count, dtype: int64

In [173]:
df_filtered_test['M'].value_counts(dropna=False).sort_index()

M
88                   10
Blank(s)            182
M0                11750
M1                 1003
M1A                 813
M1B                4292
M1NOS               301
M1a                3420
M1b               16059
M1c                2982
Not applicable       32
Name: count, dtype: int64

In [174]:
# Dropping rows when T = '88', 'Blank(s)', 'Not applicable', 'TX', 'Tis'
df_filtered_test = df_filtered_test[~df_filtered_test['T'].isin(['88', 'Blank(s)', 'Not applicable', 'TX', 'Tis', 'T0'])].copy()

# Dropping rows when N = '88', 'Blank(s)', 'Not applicable', 'NX'
df_filtered_test = df_filtered_test[~df_filtered_test['N'].isin(['88', 'Blank(s)', 'Not applicable', 'NX'])].copy()

# Dropping rows when M = '88', 'Blank(s)', 'Not applicable'
df_filtered_test = df_filtered_test[~df_filtered_test['M'].isin(['88', 'Blank(s)', 'Not applicable'])].copy()

In [175]:
df_filtered_test2 = df_filtered_test.copy()

In [176]:
def extract_main_category(value):
    if isinstance(value, str):
        # Find the first occurrence of a digit in the string
        for i, char in enumerate(value):
            if char.isdigit():
                # Return the string up to the second digit (inclusive)
                return value[:i+1]
    return value

# Apply the function to the 'T' column
df_filtered_test2['T'] = df_filtered_test2['T'].apply(extract_main_category)

# Display the updated DataFrame
print(df_filtered_test2['T'].value_counts())

T
T4    11955
T2     8162
T3     7121
T1     4775
Name: count, dtype: int64

In [177]:
# Apply the function to the 'N' column
df_filtered_test2['N'] = df_filtered_test2['N'].apply(extract_main_category)

# Display the updated DataFrame
print(df_filtered_test2['N'].value_counts())

N
N2    17332
N3     7429
N0     4734
N1     2518
Name: count, dtype: int64

In [178]:
# Apply the function to the 'M' column
df_filtered_test2['M'] = df_filtered_test2['M'].apply(extract_main_category)

# Display the updated DataFrame
print(df_filtered_test2['M'].value_counts())

M
M1    22488
M0     9525
Name: count, dtype: int64

In [179]:
# drop the 'Unknown' in Race recode (W, B, AI, API)
df_filtered_test2 = df_filtered_test2[df_filtered_test2['Race recode (W, B, AI, API)']!='Unknown'].copy()

In [180]:
df_filtered_test2['Chemotherapy recode (yes, no/unk)'].value_counts(dropna=False)

Chemotherapy recode (yes, no/unk)
Yes           22295
No/Unknown     9695
Name: count, dtype: int64

In [181]:
# map Chemotherapy recode (yes, no/unk) into 1: Yes and 0:No/Unknown
df_filtered_test2['Chemotherapy'] = df_filtered_test2['Chemotherapy recode (yes, no/unk)'].map({'Yes': 1, 'No/Unknown': 0})

# drop original column
df_filtered_test2.drop(columns=['Chemotherapy recode (yes, no/unk)'], inplace=True)

In [182]:
df_filtered_test2['Radiation recode'].value_counts(dropna=False)

Radiation recode
None/Unknown                                             16655
Beam radiation                                           14203
Refused (1988+)                                            614
Recommended, unknown if administered                       328
Radiation, NOS  method or source not specified             164
Radioactive implants (includes brachytherapy) (1988+)       14
Radioisotopes (1988+)                                        6
Combination of beam with implants or isotopes                6
Name: count, dtype: int64

In [183]:
def map_radiation_values(value):
    # Define the values to be mapped to 0
    values_for_zero = ['None/Unknown', 'Refused (1988+)', 'Recommended, unknown if administered']
    
    # Check if the value is in the list for 0, else return 1
    return 0 if value in values_for_zero else 1

# Apply the function to the 'Radiation Recode' column
df_filtered_test2['Radiation recode'] = df_filtered_test2['Radiation recode'].apply(map_radiation_values)

# Display the updated DataFrame
print(df_filtered_test2['Radiation recode'].value_counts())

Radiation recode
0    17597
1    14393
Name: count, dtype: int64

In [184]:
df_filtered_test2['SEER Combined Mets at DX-bone (2010+)'].value_counts(dropna=False)

SEER Combined Mets at DX-bone (2010+)
No         23372
Yes         8072
Unknown      543
NaN            3
Name: count, dtype: int64

In [185]:
# drop Unknown and Nan in SEER Combined Mets at DX-bone (2010+)
df_filtered_test2 = df_filtered_test2[df_filtered_test2['SEER Combined Mets at DX-bone (2010+)']!='Unknown'].copy()
df_filtered_test2 = df_filtered_test2[df_filtered_test2['SEER Combined Mets at DX-bone (2010+)'].notna()].copy()

In [186]:
# drop Unknown and Nan in SEER Combined Mets at DX-brain (2010+)
df_filtered_test2 = df_filtered_test2[df_filtered_test2['SEER Combined Mets at DX-brain (2010+)']!='Unknown'].copy()
df_filtered_test2 = df_filtered_test2[df_filtered_test2['SEER Combined Mets at DX-brain (2010+)'].notna()].copy()

In [187]:
# drop Unknown and Nan in SEER Combined Mets at DX-liver (2010+)
df_filtered_test2 = df_filtered_test2[df_filtered_test2['SEER Combined Mets at DX-liver (2010+)']!='Unknown'].copy()
df_filtered_test2 = df_filtered_test2[df_filtered_test2['SEER Combined Mets at DX-liver (2010+)'].notna()].copy()

In [188]:
# drop Unknown and Nan in SEER Combined Mets at DX-lung (2010+)
df_filtered_test2 = df_filtered_test2[df_filtered_test2['SEER Combined Mets at DX-lung (2010+)']!='Unknown'].copy()
df_filtered_test2 = df_filtered_test2[df_filtered_test2['SEER Combined Mets at DX-lung (2010+)'].notna()].copy()

In [189]:
# Convert the 'CS Tumor Size (2004-2015)' column to strings
df_filtered_test2['CS tumor size (2004-2015)'] = df_filtered_test2['CS tumor size (2004-2015)'].astype(str)

# Strip leading zeros from the strings
df_filtered_test2['CS tumor size (2004-2015)'] = df_filtered_test2['CS tumor size (2004-2015)'].str.lstrip('0')

# Replace empty strings with '0' (for cases where original value was '000')
df_filtered_test2['CS tumor size (2004-2015)'].replace('', '0', inplace=True)

# Filter the DataFrame to keep only valid numeric values
df_filtered_test2 = df_filtered_test2[df_filtered_test2['CS tumor size (2004-2015)'].apply(lambda x: x.isnumeric() and 1 <= int(x) <= 988 or x == '989')]

df_filtered_test2['Tumor Size'] = df_filtered_test2['CS tumor size (2004-2015)'].astype(int)

In [190]:
# Drop the 'CS Tumor Size (2004-2015)' column
df_filtered_test2.drop(columns=['CS tumor size (2004-2015)'], inplace=True)

In [191]:
df_final = df_filtered_test2.copy()

In [192]:
# binary encode the Histologic Type ICD-O-3, if it is 8045, then it is 1, else 0
df_final['Histologic Type ICD-O-3'] = df_final['Histologic Type ICD-O-3'].map({8045: 1, 8002: 0, 8041: 0, 8042: 0, 8043: 0, 8044: 0})

df_final['Histologic Type ICD-O-3'].value_counts(dropna=False)

Histologic Type ICD-O-3
0    15589
1      340
Name: count, dtype: int64

In [196]:
df_final = df_final[df_final['Survival months']!='Unknown']

In [198]:
df_final['Survival months'] = df_final['Survival months'].astype(int)

In [199]:
display(df_final.head(2), df_final.shape)

,Patient ID,Histologic Type ICD-O-3,Year of diagnosis,Sex,"Race recode (W, B, AI, API)",Radiation recode,SEER Combined Mets at DX-bone (2010+),SEER Combined Mets at DX-brain (2010+),SEER Combined Mets at DX-liver (2010+),SEER Combined Mets at DX-lung (2010+),Survival months,T,N,M,Chemotherapy,Tumor Size
18,194350,0,2010,Female,Black,1,No,No,No,No,14,T4,N1,M1,1,46
47,674026,0,2010,Female,White,0,No,No,No,No,66,T2,N2,M0,1,50

(15924, 16)

In [203]:
# write a loop to convert all the object columns to category
for col in df_final.select_dtypes(include='object').columns:
    df_final[col] = df_final[col].astype('category')

In [205]:
# save the final dataframe to csv
df_final.to_csv('Data\SEER_Final_Data_vf_cleaned.csv', index=False)